<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github-orbit" value="https://nuget.pkg.github.com/REBUS-ORBIT/index.json" />
    <add key="local-orbit-sdk" value="../SDK/nupkgs" />
  </packageSources>
  <packageSourceCredentials>
    <github-orbit>
      <add key="Username" value="REBUS-ORBIT" />
      <add key="ClearTextPassword" value="%NUGET_TOKEN%" />
    </github-orbit>
  </packageSourceCredentials>
</configuration>
